{% load static %}
<section>
    <ul class="posts">
        {% for n in news %}
        {% if n.is_published %}
        <li>
            <article>
                <header>
                    <h3><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h3>
<!--                    <time class="published" datetime="2015-10-20">October 20, 2015</time>-->
                    <time class="published" datetime="{{ n.time_create }}">{{ n.time_create }}</time>
                </header>

                {% if news.photo %}
                <a href="{{ n.get_absolute_url }}" class="image"><img src="{{ news.photo.url }}" alt=""></a>
                {% else %}
                <a href="{{ n.get_absolute_url }}" class="image"><img src="{% static 'dyussh/images/pic08.jpg' %}"
                                                                      alt=""></a>
                {% endif %}

            </article>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
