{% load static %}
<section>
    <div class="mini-posts">
        {% for n in news %}
        {% if n.is_published %}
        <!-- Mini Post -->
        <article class="mini-post">
            <header>
                <h3><a href="{% url 'show_news' n.id %}">Vitae sed condimentum</a></h3>
                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                <a href="#" class="author"><img src="{% static 'dyussh/images/avatar.jpg' %}" alt=""></a>
            </header>
            <a href="{% url 'show_news' n.id %}" class="image"><img src="{% static 'dyussh/images/pic04.jpg' %}" alt=""></a>
        </article>
        <!-- end Mini Post -->
        {% endif %}
        {% endfor %}

    </div>
</section>