{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--<h1>{{ title }}</h1>-->
<h1>Спортивные события</h1>

{% for n in news %}
<!-- Post -->
<article class="post">
    {% include 'dyussh/includes/news_posts/news_posts_header.html' %}
    {% include 'dyussh/includes/news_posts/news_posts_photo.html' %}
    {% include 'dyussh/includes/news_posts/news_posts_content.html' %}
    {% include 'dyussh/includes/news_posts/news_posts_footer.html' %}
</article>
<!-- end Post -->
{% endfor %}

<!-- Pagination -->
<ul class="actions pagination">
    <li><a href="" class="disabled button big previous">Previous Page</a></li>
    <li><a href="#" class="button big next">Next Page</a></li>
</ul>
<!-- end Pagination -->

{% endblock %}
