{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--<h1>{{ title }}</h1>-->

{% for n in news %}
{% if n.is_published %}
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ n.get_absolute_url }}">{{n.title}}</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
<!--            <time class="published" datetime="2015-11-01">November 1, 2015</time>-->
            <time class="published" datetime="2{{ n.time_create }}">{{ n.time_create }}</time>
            <a href="#" class="author"><span class="name">Jane Doe</span><img
                    src="{% static 'dyussh/images/avatar.jpg' %}" alt=""></a>
        </div>
    </header>

    {% if news.photo %}
    <a href="{{ n.get_absolute_url }}" class="image featured"><img src="{{ news.photo.url }}" alt=""></a>
    {% else %}
    <a href="{{ n.get_absolute_url }}" class="image featured"><img src="{% static 'dyussh/images/pic01.jpg' %}" alt=""></a>
    {% endif %}

    {% autoescape off %}
    {{n.content|linebreaks|truncatewords:50}}
    {% endautoescape %}
    <footer>
        <ul class="actions">
            <li><a href="{{ n.get_absolute_url }}" class="button big">Читать далее</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>
<!-- end Post -->
{% endif %}
{% endfor %}

<!-- Pagination -->
<ul class="actions pagination">
    <li><a href="" class="disabled button big previous">Previous Page</a></li>
    <li><a href="#" class="button big next">Next Page</a></li>
</ul>
<!-- end Pagination -->

{% endblock %}
