{% extends 'base.html' %}
{% load static %}
{% load dyussh_tags %}

{% block content %}
<!-- Post -->
<article class="post">
    <header>
        <div class="title">
            <h2>{{one_news.title}}</h2>
            <p>Категория: <a href="{{one_news.get_absolute_url_category}}">{{one_news.news_sport_type.name}}</a></p>
            <p>Тег:
                {% comment %}
                <a href="{{one_news.get_absolute_url_tag}}">{{one_news.tags.get.tag}}</a>
                {% endcomment %}
                {% include 'dyussh/includes/news_posts/tags_news_header.html' %}
            </p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{one_news.time_create|date:'F d, Y'}}">{{one_news.time_create|date:'F d, Y'}}
            </time>
            <a href="#" class="author"><span class="name">Jane Doe</span><img
                    src="{% static 'dyussh/images/avatar.jpg' %}" alt=""/></a>
        </div>
    </header>

    {% if one_news.photo %}
    <span class="image featured"><img src="{{one_news.photo.url}}" alt=""></span>
    {% else %}
    <span class="image featured"><img src="{% static 'dyussh/images/pic01.jpg' %}" alt=""/></span>
    {% endif %}

    {% autoescape off %}
    {{ one_news.content|linebreaks }}
    {% endautoescape %}


    <footer>
        <ul class="stats">
            {% include 'dyussh/includes/news_posts/tags_news.html' %}
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>


<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
        <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
            href="http://unsplash.com">Unsplash</a>.</p>
</section>

{% endblock %}
