.selected a,
span.selected {
    color: #2ebaae !important;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

p span.selected {
    font-size: 1em;
}

.disabled {
    cursor: default !important;
}

li.selected-cat-sidebar {
    color: #2ebaae !important;
    font-size: 1em;
    text-transform: none;
}

.sidebar_block_name {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    list-style-type: none;
}

