{% load static %}

<header>
    <div class="title">
        <h2><a href="{{n.get_absolute_url}}">{{n.title}}</a></h2>
        {% url 'news' as news_all_url %} <!-- получение url-страницы и далее сравнение -->


        {% if request.path == news_all_url %}
        <p>Категория: <a href="{{n.get_absolute_url_category}}">{{n.news_sport_type.name}}</a></p>
        <p>Тег: {% include 'dyussh/includes/news_posts/main_tags_news_header.html' %}</p>
        {{news_all_url}}

        {% elif request.path == n.get_absolute_url_category %}
        <p>Категория: <span class="selected">{{n.news_sport_type.name}}</span></p>
        <p>Тег: {% include 'dyussh/includes/news_posts/main_tags_news_header.html' %}</p>
        {{n.get_absolute_url_category}}

        {# elif request.path == n.get_absolute_url_tag #}
        {% else %}
        <p>Категория: <a href="{{n.get_absolute_url_category}}">{{n.news_sport_type.name}}</a></p>
        <p>Тег:
            {% include 'dyussh/includes/news_posts/main_tags_news_header.html' %}
        </p>
        {% endif %}
    </div>

    <div class="meta">
        <time class="published" datetime="{{n.time_create|date:'F d, Y'}}">{{n.time_create|date:'F d, Y'}}</time>
        <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static 'dyussh/images/avatar.jpg' %}"
                                                                          alt=""></a>
    </div>
</header>